* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
h1 {
    color: #a751bb;
}

.find {
    margin: 0 auto;
    max-width: 600px;
    border: 2px solid darkkhaki;
}